In [1]:
import requests
import re
from bs4 import BeautifulSoup
import pandas as pd
from time import sleep

In [2]:
df =pd.DataFrame(columns=['title','company','location','summary','job_posted_duration','indeed_links'])

In [3]:
def get_job_info(soup):
    title =      soup.find('a', {'data-tn-element':'jobTitle'}).text
    company  =   soup.find('span', {'class':'company'}).text.strip()
    location =   soup.find('span', {'class':'location'}).text
    summary =    soup.find('span', {'class':'summary'}).text.strip()
    job_posted = soup.find('span', {'class': 'date'}).text
    hlink      = soup.h2.a['href']
    link = 'http://indeed.com' + hlink
    return title, company,location,summary,job_posted,link

In [4]:
job_list=[]
for start in range(0, 1200, 100):
    url = "https://www.indeed.com/jobs?q=data+scientist&l=Seattle%2C+WA&radius=100&limit=100&sr=directhire&start="+ str(start)
    response = requests.get(url)
    soup=BeautifulSoup(response.text,features='lxml')
    for job in soup.find_all('div', {'class':' row result'}):
           job_list.append(job)
    sleep(1)

In [9]:
#print(results[0].prettify())
#print(results[0].attrs)
#results[0].find('span',{'class':'iaLabel'}).text.strip()
#results[0].h2.a['href']

In [5]:
for i,r in enumerate(job_list):
    title, company,location,summary,job_posted,no_review=get_job_info(r)
    df.loc[i] =title, company,location,summary,job_posted,no_review

In [6]:
df.head()

,title,company,location,summary,job_posted_duration,indeed_links
0,Data Scientist,Shaker,"Seattle, WA","At Shaker, you’ll be working to spearhead deep...",15 days ago,http://indeed.com/company/Shaker/jobs/Data-Sci...
1,DATA SCIENTIST,Microsoft,"Redmond, WA 98052",The scientists closely work with data engineer...,4 days ago,http://indeed.com/rc/clk?jk=a88347057bb70b87&f...
2,Data Scientist,Amazon.com,"Seattle, WA","Work with central economics, machine learning,...",12 days ago,http://indeed.com/rc/clk?jk=6a73204ccd323223&f...
3,Network Quantitative Analyst,Facebook,"Seattle, WA","Analytics background, in a forecasting capacit...",5 days ago,http://indeed.com/rc/clk?jk=664ee562d057a2aa&f...
4,Data Scientist I,Expedia,"Bellevue, WA 98004 (Downtown area)","As a Data Scientist within PI, you will work w...",30+ days ago,http://indeed.com/rc/clk?jk=552fc2102c3a0e17&f...

In [7]:
df.tail()

,title,company,location,summary,job_posted_duration,indeed_links
561,Software Development Engineer - EC2 Networking,Amazon.com,"Seattle, WA",You'll experience opportunities to work with t...,30+ days ago,http://indeed.com/rc/clk?jk=ba665dc90879090a&f...
562,SDE III - Bits | Twitch,Amazon.com,"Seattle, WA",You’ll implement experiments and collect data ...,30+ days ago,http://indeed.com/rc/clk?jk=db0864f28b749ff1&f...
563,"Content Mgr, Interior Design",Amazon.com,"Seattle, WA",Support Data Scientists with style algorithm d...,12 days ago,http://indeed.com/rc/clk?jk=72f811d663bd6b92&f...
564,Account Executive,Mobiquity,"Seattle, WA","We are a collective of consultants, designers,...",17 days ago,http://indeed.com/rc/clk?jk=05e6cfd2f4282186&f...
565,Marcom Mgr,Microsoft,"Bellevue, WA","Analyzing complex, high-volume, high-dimension...",28 days ago,http://indeed.com/rc/clk?jk=316edbbc1c59a95b&f...

In [8]:
ML_algo=['supervised learning','regression','clustering',
         'dimensionality reduction','Model selection','preprocessing','nearest neighbors'
        'logistic regression','support vector machines','naive bayes','k-means',
        ]

In [9]:
keys=['python','r','sql','scala','java','C++','perl','excel','tableau',
      'd3.js','sas','spss','d3','saas','pandas','numpy','scipy','sps','spotfire',
      'scikits.learn','splunk','powerpoint','h2o','hadoop','mapreduce','spark','pig','hive','shark','oozie',
      'zookeeper','flume','mahout','sql','nosql','hbase','cassandra','mongodb','mysql','mssql','postgresql',
      'oracle db','rdbms','aws','azure','linux','machine learning','deep learning','tensor flow',
     'pylearn2','theano','caffe','torch','']


DS_tools = keys + ML_algo

In [24]:
df.head()

,title,company,location,summary,job_posted_duration,indeed_links,key_words
0,Data Scientist,Shaker,"Seattle, WA","At Shaker, you’ll be working to spearhead deep...",15 days ago,http://indeed.com/company/Shaker/jobs/Data-Sci...,
1,DATA SCIENTIST,Microsoft,"Redmond, WA 98052",The scientists closely work with data engineer...,4 days ago,http://indeed.com/rc/clk?jk=a88347057bb70b87&f...,
2,Data Scientist,Amazon.com,"Seattle, WA","Work with central economics, machine learning,...",12 days ago,http://indeed.com/rc/clk?jk=6a73204ccd323223&f...,
3,Network Quantitative Analyst,Facebook,"Seattle, WA","Analytics background, in a forecasting capacit...",5 days ago,http://indeed.com/rc/clk?jk=664ee562d057a2aa&f...,
4,Data Scientist I,Expedia,"Bellevue, WA 98004 (Downtown area)","As a Data Scientist within PI, you will work w...",30+ days ago,http://indeed.com/rc/clk?jk=552fc2102c3a0e17&f...,